body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}



.navbar{
    width: 96%;
    margin: auto;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 3s;
}


.navbar-top{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 80%;
}

.navbar-top>p{
     margin-right: 24px;
}


.navbar-top>button{
    background-color: black;
    color: white;
    font-size: 120%;
    font-weight: bolder;
    height: 97%;
}

.navbar-bottom{
    display: flex;

    align-items: center;
}

.navbar-bottom>div{
    display: flex;
}


.navbar-bottom>div a,.navbar-bottom>div p{
    margin-right: 24px;
}

.logo{
    font-weight: 900;
    text-decoration: none;
    font-size: 250%;
    color: black;
}



.navbar-bottom>div p{
    color: grey;
    display: flex;
    align-items: center;
}


.searchbar{
    width: 164vh;
    height: 5vh;
    border: 2px solid;
    font-weight:lighter;
    font-size: 105%;
    color: grey;
    padding-left: 20px;
}

#search{
    display: flex;
    flex-direction: column;                                                                                                                   
}

#container-1,#container-2{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

#container-1 img,#container-2 img{
    height: 300px;
    
    width: 300px;
    
}



.rotatehead{
    width: 100px;
    position: relative;
}

#container-1 h3,#container-2 h3{
    /* transform: rotate(-90deg);
    white-space: nowrap;
    position: relative;
    top: 211px;
    left: 25px;
    font-weight: 400;
    font-size: 125%; */



    transform: rotate(-90deg);
/* white-space: nowrap; */
position: relative;
top: 88px;
left: -72px;
font-weight: 400;
font-size: 143%;
width: 300px;
}

.aside{
    display:flex;
    border:1px solid black;
    border-left: 0px;
    height: 300px;
}

#container-2{
    margin-bottom: 110px;
}

.slider{
    background-color: #f2f2f2;
    margin-bottom: 110px;
    height: 500px;
}

.slider img{
    width: 100%;
    /* height: 500px; */
    position: absolute;
    height: 100%;
}
.slidcard{
    width: 90%;
    margin: auto;
    position: relative;
    /* height: 500px;
    */
      height: 100%;
    overflow: hidden;
  
}




.slidera{
   
    transition: 0.1s;
}

#container-1::-webkit-scrollbar{
    display: none;
}


#container-2::-webkit-scrollbar{
    display: none;
}




.breakoutbrands{
    display: grid;
    grid-template-columns: repeat(7,400px);
    grid-template-rows: repeat(1,350px);
    overflow-y: hidden;
    overflow-x: scroll;
}

.breakoutbrands::-webkit-scrollbar{
    display: none;
}

.breakoutpart:first-child,.special{
    border: 1px solid black;
    background-color: #f2f2f2;
    border-bottom: 0px;
}

.breakoutpart>h1{
    font-size: 22px;
    font-weight: 400;
    margin-left: 25px;
}


.breakoutpart:first-child>h1,.special>h1{
    font-size: 350%;
    font-weight: 400;
    margin-left: 25px;
}


.breakoutpart{
    border: 1px solid black;
}

.breakoutpart>div{
    width: 80%;
}

.breakoutpart>div>img{
    width: 100%;
    padding-left: 25%;
}


.trending2 h1{ 
    font-weight: 400;
    margin-left: 25px;
}

.trending2>.breakoutbrands>.breakoutpart:first-child>h1{
    font-size: 22px;

}

#tap{
    background-color: white;

}

.trending img{
    height: 350px;
}

.demonav{
    height: 110px;
    background-color: white;
    z-index: 100;
}
.demonav>div{
    width: 100%;
    height: 100%;
    /* background-color:white; */
}

.endnav{
   display: flex; 
   /* margin-top: 110px;   */
   height: 550px;
   /* border: 1px solid; */
   border-right: 0px;
}

.endnav>div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.endnavone{
    width: 72%;
    background-color: #f2f2f2;
}

.endnavtwo{
    width: 28%;
    background-color: #cafc4f;
  
}

.endnavone>div{
    margin-right: 50px;
    width: 22%;
}


.endnavone>div>h1:first-child{
    font-size:650%;
    margin-bottom: 13px;
}

#endnavtwo{
    justify-content: flex-start;
}

.endnavtwo>div{
    width: 60%;
    height: auto;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 50px;
}


.endjoin{
    color: white;
    text-align: center;
    background-color: black;
    width: 80px;
    height: 30px;
}

#endnavtwo>div:hover{
    background-color: aqua;
    border: 1px solid;
    transition: 2s;
}


.rotateone{
    display: flex;
    border: 1px solid black;
    margin-bottom:  400px;
    border-top: 0px;
    background-color: white;
    height: 300px;
  }
.rotateone>div{
    background-color: white;
}

.rotate1{
    width: 20%;
    padding-left: 30px;
    position: relative;
}

.rotate1>p{
    width: 40%;
    position: relative;
    left: 64px;
    top: 21px;
}

.rotate1>h2{
    position: relative;
    transform: rotate(270deg);
    left: -122px;
    top: 40px;
}

.rotate2{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    align-items: center;
    font-size: 200%;
    width: 80%;


}


.rotateone p:hover{
   color: purple;
}



/* testing of animation */
.slidtest{
    display: flex;
}


*{
    z-index: 1;
    /* background-color: white; */
}

.sticktest{
    height: 600px;
    display: none;

}
.gaint{
    background-color: white;
}

.breakoutpart{
    background-color: white;
}
/* closed testing jest */
body{
    overflow-x: hidden;
}

/* bounce test */
.bounceball{
    /* background-color: red; */
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    position: absolute;
   
    z-index: 100;
    /* position: absolute; */
    top: 2px;
    left: 57px;
}

.bounceparent{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    font-size: 200%;
    color: rgba(0, 0, 0,0.450);
    background: linear-gradient(#0097D1 0%,#00a2b3 10%,#00556c 50%,#004040 100%);
    transform: rotate(360deg);
}

.bounceparent::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#67d1e9 10%,#006a7b 50%,#00404e 100%);
    transform: rotateZ('45deg');
    filter: blur(20px);
}

.bounceparent::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0,0.450);
    bottom: -50%;
    filter: blur(20px);
}

.bounceparent:hover::before{
    transform: rotateZ('180deg');
}
.pineapple{
 
}

/* bounce test ended */


.trending>div:first-child{
    position: sticky;
    top: 0px;
}


#bouncing{
    height: 50px;
width: 50px;
border-radius: 50%;
background-color: #004040;
z-index: 111;
transform: translateX(-50%);
    animation: movement 3s linear infinite;
}


@keyframes movement{
    16%{
       /* top: 300px;
       animation-timing-function: ease-out; */
    }

    32%{
        /* top: 50px;
        animation-timing-function: ease-out; */
    }
        62%{
            /* top: 150px;
            animation-timing-function: ease-out; */
        }

        90%{
            /* top: 200px;
        animation-timing-function: ease-out; */
        }

        100%{
            /* top: 270px;
            left: 10%; */
            transform: rotate(360deg);
            /* animation-timing-function: ease-out; */
        }
}