/* #search > .suggestions{ */
    /* display: flex;
    width: 75%;
    border: 1px solid black;
}

#search > .download_app{
    width: 25%;
    height: 100%;
    border: 1px solid yellow;
}

#search > .download_app > .img_dLoad > img {
    width : "100%";
    height : "580px";
} */